@import url('https://fonts.googleapis.com/css?family=Lobster+Two&display=swap');
*{
    margin: 0;
    padding: 0;
}

/* DRY  CSS*/

.container,
.search-header,
.frame__link {
    display: flex;
}

.frame__link,
.frame__link img {
    margin: 0 auto;
}
/* Specific Styling  CSS*/

h1 {
    font-size: 30px;
    margin-bottom: 3%;
    font-family: 'Lobster Two', cursive;
    letter-spacing: 2px;
}

.container,
.search-header {
    flex-direction: column;
}

.search-header{
    text-align: center;
    margin: 4% 0; 
    margin-bottom: 30px;
}
    #search {
        height: 25px;
        border-radius: 5px;
        border: 2px solid #ccc;
        text-indent: 10px;
        transition: boxShadow 0.5s;
        width: 80%;
        margin: 0 auto;
    }
        #search:focus {
            outline: none;
            box-shadow: 0 0 2px #aaa;
        }
        #search::placeholder {
            color: #aaa
        }

.frame__link {
    margin-bottom: 10px;
}   


/*   Media queries         */

@media (min-width: 480px) {
    
    .container {
        max-width: 90%;
        margin: 0 auto;
    }

    .frames-container {
        display: flex;
        flex-wrap: wrap;
    }

    .frame__link {
        margin-bottom: 3%;
    }

    #seach {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 80%;
        margin: 0 auto;
    }
}