@import url('https://fonts.googleapis.com/css?family=Lobster+Two&display=swap');
*{
    margin: 0;
    padding: 0;
}

/* DRY  CSS*/

.container,
.search-header,
.frame__link {
    display: flex;
}

.frame__link,
.frame__link img {
    margin: 0 auto;
}
/* Specific Styling  CSS*/

h1 {
    font-size: 30px;
    margin-bottom: 3%;
    font-family: 'Lobster Two', cursive;
    letter-spacing: 2px;
}

.container {
    flex-direction: column;
}

.seach-header{
    justify-content: center;
    margin: 40px auto;
}
    #search {
        height: 25px;
        border-radius: 5px;
        border: 2px solid #ccc;
        text-indent: 10px;
        transition: boxShadow 0.5s;
        width: 100%;
    }
        #search:focus {
            outline: none;
            box-shadow: 0 0 2px #aaa;
        }

.frame__link {
    margin-bottom: 10px;
}
    
@media (min-width: 480px) {
    .frames-container {
        display: flex;
        flex-wrap: wrap;
    }

    .frame__link {
        margin-bottom: 3%;
    }

    #seach {
        width: 100%;
    }
}